<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangchuang.house.mapper.AuthRuleMapper">
  <resultMap id="BaseResultMap" type="com.hangchuang.house.pojo.AuthRule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="condition" jdbcType="VARCHAR" property="condition" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="ismenu" jdbcType="BIT" property="ismenu" />
    <result column="createtime" jdbcType="INTEGER" property="createtime" />
    <result column="updatetime" jdbcType="INTEGER" property="updatetime" />
    <result column="weigh" jdbcType="INTEGER" property="weigh" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>

</mapper>