<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangchuang.house.mapper.FindCateMapper">
  <resultMap id="BaseResultMap" type="com.hangchuang.house.pojo.FindCate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="is_pinglun" jdbcType="CHAR" property="isPinglun" />
  </resultMap>

</mapper>