<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangchuang.house.mapper.HouseMapper">
  <resultMap id="BaseResultMap" type="com.hangchuang.house.pojo.House">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="totalprice" jdbcType="DECIMAL" property="totalprice" />
    <result column="goods_ids" jdbcType="VARCHAR" property="goodsIds" />
    <result column="huxing_id" jdbcType="INTEGER" property="huxingId" />
    <result column="mianji" jdbcType="REAL" property="mianji" />
    <result column="chaoxiang" jdbcType="CHAR" property="chaoxiang" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="totalfloor" jdbcType="VARCHAR" property="totalfloor" />
    <result column="zhaungxiu" jdbcType="CHAR" property="zhaungxiu" />
    <result column="community" jdbcType="VARCHAR" property="community" />
    <result column="county_id" jdbcType="VARCHAR" property="countyId" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="buildyear" jdbcType="INTEGER" property="buildyear" />
    <result column="lift" jdbcType="VARCHAR" property="lift" />
    <result column="property" jdbcType="CHAR" property="property" />
    <result column="housetype" jdbcType="CHAR" property="housetype" />
    <result column="structure" jdbcType="CHAR" property="structure" />
    <result column="createtime" jdbcType="INTEGER" property="createtime" />
    <result column="houseimages" jdbcType="VARCHAR" property="houseimages" />
    <result column="zuobiao" jdbcType="VARCHAR" property="zuobiao" />
    <result column="daoqishijian" jdbcType="DATE" property="daoqishijian" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="telphone" jdbcType="CHAR" property="telphone" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="top" jdbcType="CHAR" property="top" />
    <result column="jihua" jdbcType="CHAR" property="jihua" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hangchuang.house.pojo.HouseWithBLOBs">
    <result column="paydescription" jdbcType="LONGVARCHAR" property="paydescription" />
    <result column="mentality" jdbcType="LONGVARCHAR" property="mentality" />
    <result column="facilities" jdbcType="LONGVARCHAR" property="facilities" />
  </resultMap>

</mapper>