<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangchuang.house.mapper.HuXingTagMapper">
  <resultMap id="BaseResultMap" type="com.hangchuang.house.pojo.HuXingTag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

</mapper>