<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangchuang.house.mapper.LouPanHuXingMapper">
  <resultMap id="BaseResultMap" type="com.hangchuang.house.pojo.LouPanHuXing">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="room" jdbcType="VARCHAR" property="room" />
    <result column="mianji" jdbcType="VARCHAR" property="mianji" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="totalprice" jdbcType="DECIMAL" property="totalprice" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="houseimages" jdbcType="VARCHAR" property="houseimages" />
    <result column="loupan_id" jdbcType="INTEGER" property="loupanId" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
  </resultMap>

</mapper>